.elenco1{
  margin-left: 25%;
  margin-bottom: 40px;
}
.elenco2{
  margin-left: 25%;
}
.row1{
  display: inline-block;
  position: relative;
}
.row2{
  display: inline-block;
  position: relative;
}
.green-price{
  background-color: green;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
}
.red-price{
  background-color: red;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
}
.cuore{
  color: red;
  position: absolute;
  bottom: 0;
  right: 50%;
}
