.elenco1{
  margin-left: 25%;
  margin-bottom: 40px;
}
.elenco2{
  margin-left: 25%;
}
.row1{
  display: inline-block;
  position: relative;
}
.row2{
  display: inline-block;
  position: relative;
}
.green-price{
  background-color: green;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
}
.red-price{
  background-color: red;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
}
.cuore{
  color: red;
  position: absolute;
  bottom: 15px;
  right: 50%;
}
input[type="button"]{
  position: absolute;
  bottom: 5px;
  right: 0;
}
input[type="checkbox"]{
  position: absolute;
  top: 5px;
  left: 0;
}
.title{
  text-align: center;
  border: 5px solid orange;
  margin-bottom: 45px;
  margin-left: 25%;
  margin-right: 27%;
  background-color: black;
  color: orange;
}
